.gagnant {
  height: 100vh;
  position: relative;
  @include flex-box(column, space-around, center);
  background-color: $color_one;

  .return {
    width: 3vw;
    position: absolute;
    top: 1em;
    left: 1em;
  }

  .fond_carte {
    width: 27vw;
    height: 80vh;
    @include flex-box(column, center, center);
    background-color: black;
    border-radius: 8px;

    .carte {
      width: 95%;
      height: 95%;
      @include flex-box(column, space-between, center);
      background-color: white;
      padding: 20px;

      .carte_img {
        width: 95%;
        @include flex-box(row, center, center);
        border: 3px solid $color_one;
        padding: 5px;

        img {
          width: 12vw;
        }
      }

      .carte_desc {
        width: 95%;
        @include flex-box(row, center, center);
        text-align: center;
        border: 3px solid $color_one;
        padding: 5px;
      }

      .atk_def {
        width: 95%;
        @include flex-box(row, space-around, center);
        border: 3px solid $color_one;
        padding: 5px;
      }
    }
  }
}
