main {
  .top {
    height: 100vh;
    @include flex-box(column, flex-start, center);
    background-image: url("../image/UFC mixed martial arts mma fight extreme battle battles stadium crowd .png");
    padding-top: 15em;

    h1 {
      font-family: "utopia";
      font-size: 40px;
      margin-bottom: 50px;
    }
    p {
      width: 50%;
      font-family: "roboto-regular";
      font-size: 20px;
      text-align: center;
    }

    .user {
      height: 10vh;
      margin-top: 25px;
      @include flex-box(column, space-between, center);

      .bienvenue {
        font-family: "roboto-bold";
      }

      .btn-login {
        width: 12vw;
        height: 5vh;
        font-family: "utopia";
        background-color: $color_vic;
        border: 0;
        border-radius: 22px;

        &:hover {
          cursor: pointer;
        }
      }

      .logout {
        width: 12vw;
        height: 5vh;
        font-family: "utopia";
        background-color: $color_def;
        border: 0;
        border-radius: 22px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .bandeau {
    height: 10vh;
    @include flex-box(row, center, center);
    background-color: $color_one;

    h2 {
      font-family: "utopia";
      color: white;
    }
  }

  .btn-create-mma {
    height: 7vh;
    @include flex-box(row, center, center);
    background-color: $color_one;

    .create-mma {
      width: 15vw;
      height: 5vh;
      font-family: "utopia";
      font-size: 20px;
      color: $color_one;
      border: 0;
      border-radius: 22px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .champions {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-image: url("../image/wp2776818-boxing-ring-wallpaper.png");
    background-position: center;
    padding: 5em;

    form {
      position: absolute;
      top: 2em;
      left: 2em;

      input {
        width: 15vw;
        height: 4vh;
      }
    }

    .mma_card {
      width: 20vw;
      height: 70vh;
      @include flex-box(column, space-between, center);
      background-color: white;
      border-radius: 28px;
      padding: 20px;
      margin: 20px;

      img {
        width: 10vw;
        margin: 1em;
      }

      .def_vic {
        width: 100%;
        @include flex-box(row, space-around, center);

        .def {
          width: 50%;
          @include flex-box(column, flex-start, flex-start);

          .top_def {
            width: 100%;
            height: 5vh;
            font-family: "roboto-bold";
            font-size: 20px;
            @include flex-box(column, center, flex-start);
            color: white;
            background-color: $color_def;
            padding-left: 1em;
          }

          p {
            font-family: "roboto-bold";
            font-size: 20px;
            color: $color_def;
            padding-left: 1em;
          }
        }

        .vic {
          width: 50%;
          @include flex-box(column, flex-end, flex-end);

          .top_vic {
            width: 100%;
            height: 5vh;
            font-family: "roboto-bold";
            font-size: 20px;
            @include flex-box(column, center, flex-end);
            color: white;
            background-color: $color_vic;
            padding-right: 1em;
          }

          p {
            font-family: "roboto-bold";
            font-size: 20px;
            color: $color_vic;
            padding-right: 1em;
          }
        }
      }

      .params-mma {
        width: 70%;
        height: 8vh;
        @include flex-box(column, space-around, center);
        border: 2px solid black;
        border-radius: 8px;
        margin-top: 1em;

        button {
          background-color: gainsboro;
          border: 0;
        }
      }
    }
  }
}
