main {
  .top {
    height: 100vh;
    @include flex-box(column, flex-start, center);
    background-image: url("../image/UFC mixed martial arts mma fight extreme battle battles stadium crowd .png");
    padding-top: 15em;

    h1 {
      font-family: "utopia";
      font-size: 40px;
      margin-bottom: 50px;
    }
    p {
      width: 50%;
      font-family: "roboto-regular";
      font-size: 20px;
      text-align: center;
    }

    .user {
      height: 10vh;
      margin-top: 25px;
      @include flex-box(column, space-between, center);

      .bienvenue {
        font-family: "roboto-bold";
      }

      .btn-login {
        width: 12vw;
        height: 5vh;
        font-family: "utopia";
        background-color: $color_vic;
        border: 0;
        border-radius: 22px;

        &:hover {
          cursor: pointer;
        }
      }

      .logout {
        width: 12vw;
        height: 5vh;
        font-family: "utopia";
        background-color: $color_def;
        border: 0;
        border-radius: 22px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .bandeau {
    height: 10vh;
    @include flex-box(row, center, center);
    background-color: $color_one;

    h2 {
      font-family: "utopia";
      color: white;
    }
  }
  .champions {
    height: 100vh;
    background-image: url("../image/wp2776818-boxing-ring-wallpaper.png");
  }
}
